/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.perfecty-push-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 100000;
}

.perfecty-push-dialog-box {
  display: block;
  width: 500px;
  background: white;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 7px 30px 0px grey;
  margin: 0 auto;
}

.perfecty-push-dialog-container button{
  margin: 0px 15px;
}

.perfecty-push-dialog-container .perfecty-push-dialog-title {
  margin: 20px 0px;
}

.perfecty-push-settings-container #perfecty-push-settings-form {
  display: none;
}
