/* Dialog control */

.perfecty-push-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 100000;
}

.perfecty-push-dialog-box {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 550px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 7px 30px 0px grey;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 370px) {
  .perfecty-push-dialog-box {
	width: 320px;
	flex-wrap: wrap;
  }
}

@media only screen and (min-width: 370px) and (max-width: 425px) {
  .perfecty-push-dialog-box {
	width: 350px;
	flex-wrap: wrap;
  }
}

.perfecty-push-dialog-box .perfecty-push-dialog-icon {
  width: 100px;
}

.perfecty-push-dialog-container .perfecty-push-dialog-form .perfecty-push-dialog-title {
  margin: 20px 0px;
}

.perfecty-push-dialog-container .perfecty-push-dialog-form button{
  margin: 5px 10px;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.0222em;
  line-height: 1.25;
  opacity: 1;
  padding: 1em 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s linear;
}

.perfecty-push-dialog-container .perfecty-push-dialog-form #perfecty-push-dialog-cancel {
  background-color: #ffffff;
  color: #f77924;
}

.perfecty-push-dialog-container .perfecty-push-dialog-form #perfecty-push-dialog-subscribe {
  background-color: #f77924;
  color: #ffffff;
}

/* Settings control */

.perfecty-push-settings-container {
  z-index: 100000;
  display: none;
}

.perfecty-push-settings-container #perfecty-push-settings-form {
display: none;
border: 1px solid rgb(221, 221, 221);
background-color: white;
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

.perfecty-push-settings-container #perfecty-push-settings-form label{
  display: inline;
}

.perfecty-push-settings-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.perfecty-push-settings-container #perfecty-push-settings-open {
  height: 56px;
  width: 56px;
  background-color: transparent;
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  box-shadow: none;
}

.perfecty-push-settings-container #perfecty-push-settings-open svg {
  color: #ffffff;
  padding: 16px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f77924;
  transition: padding .1s ease-in-out;
  cursor: pointer;
  fill: #fff;
  outline: none;
  box-sizing: border-box;
}

.perfecty-push-settings-container #perfecty-push-settings-open svg:hover,
.perfecty-push-settings-container #perfecty-push-settings-open svg:focus {
  padding: 12px;
}
