.perfecty-push-items-list {
  list-style: circle;
  list-style-position: inside;
}

.perfecty-push-view-form label {
  font-weight: bold;
}

.perfecty-push-view-payload {
  margin-left: 20px;
  padding: 10px;
  width: 500px;
  background-color: #ffffff;
}

.perfecty-push-view-payload div {
  margin: 3px;
}

.perfecty-push-view-payload span {
  font-weight: bold;
}

.perfecty-push-view-payload-image {
  max-width: 250px;
  max-height: 250px;
}

.perfecty-push-view-payload-icon {
  width: 50px;
  height: 50px;
}

.perfecty-push-stats > div {
  float: left;
  margin: 20px;
}

.perfecty-push-send-notification-icon {
  width: 50px;
  height: 50px;
}

.perfecty-push-cron-check {
  clear: both;
  display: block;
  position: relative;
  width: 800px;
}

.perfecty-push-cron-working {
  padding: 0 20px;
  border-color: #00e600;
  border-style: solid;
  border-width: 1px;
  background-color: #e6ffe6;
  color: #008000;
}

.perfecty-push-cron-stopped {
  padding: 0 20px;
  border-color: #e60000;
  border-style: solid;
  border-width: 1px;
  background-color: #ffcccc;
  color: #800000;
}
